:root {
    /*gray*/
    --primary-color: #a7afb1;
    --dark-primary-color: #4f6166;
    --light-primary-color: #f1f1f1;
}

html {
    display:flex;
    flex-direction:column;
}

body {
    align-self: center;
    min-height:100vh;

    max-width: 1200px;
    min-width: 730px;

    border: 2px solid var(--dark-primary-color);
}

.section {
    margin: 1.2em 1.2em;
}

.titleSection {
    display: flex;
    align-items: center;
}

.weatherHereTitle {
    width: 33%;
    margin: 0;
    align-self: center;
    color: var(--dark-primary-color);
}

.updateGeolocationButton {
    width: 33%;
    height: 3em;
    border-radius: 10px;
    font-size: 1em;
    align-self: center;
    background-color: var(--primary-color);
    color: var(--dark-primary-color);
}

.updateGeolocationButtonSmall {
    display: none;
    width: 32px;
    height: 32px;
    align-self: center;
    background-color: var(--primary-color);
    color: var(--dark-primary-color);
    font-weight: 900;
    border-radius: 5px;
    font-size: 1em;
}

.mainCitySection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mainCityDescription {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainCityShortDescription {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainCityImage {
    width: 96px;
    height: 96px
}

.mainCityDegrees {
    font-size: 96px;
    color: gray;
    font-family: 'Roboto', sans-serif;
}

.mainCityName {
    font-size: 2em;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--dark-primary-color);
}

.weatherDescription {
    width: 45%;
    margin: 0;
    padding: 0;
}

.weatherDescription li {
    list-style-type: none;
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0;
    padding: 0.5em 0;
}

.weatherDescription li :first-child {
    padding-left: 0.4em;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.weatherDescription li :last-child {
    padding-right: 0.4em;
    color: white;
}

.favouritesSection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.favouritesTitle {
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: var(--dark-primary-color);
}

.addNewCitySection {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.addNewCityField {
    width: 70%;
    height: 1.3em;
    font-size: 1.5em;
    border: none;
    background: var(--light-primary-color);
}

.addNewCityField::placeholder {
    color: var(--primary-color);
}

.addNewCityButton {
    width: 32px;
    height: 32px;
    margin-left: 5px;
    border-radius: 50%;
    font-size: 1.5em;
    color: white;
    background-color: var(--dark-primary-color);
    display: flex;
}

.citiesSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cityCard {
    width: 45%;
    margin-bottom: 1.5em;
}

.cityCard ul {
    width: 100%;
}

.cityDescription {
    display: flex;
    align-items: center;
}

.cityName {
    margin: 0;
    padding: 0;
    color: var(--dark-primary-color);
    font-family: 'Roboto', sans-serif;
}

.cityDegrees {
    margin: 0 1em;
    font-size: 1.7em;
    color: gray;
    font-family: 'Roboto', sans-serif;
}

.cityImage {
    width: 32px;
    height: 32px;
}

.closeCitySectionButton {
    margin-left: auto;
    width: 32px;
    height: 32px;
    /*margin: 0 5px;*/
    border-radius: 50%;
    font-size: 1.5em;
    color: white;
    background-color: var(--dark-primary-color);
    display: flex;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 730px) {
    body {
        min-width: 320px;
    }

    .weatherHereTitle {
        width: 60%;
    }
    .updateGeolocationButton {
        display: none;
    }
    .updateGeolocationButtonSmall {
        display: block;
    }

    .mainCityDescription {
        width: 100%;
        margin-bottom: 1em;
    }
    .mainCityShortDescription {
        margin: 1em 0;
    }
    .mainCityDegrees {
        font-size: 72px;
    }

    .weatherDescription {
        width: 100%;
    }

    .cityCard {
        width: 100%;
    }

    .favouritesTitle {
        margin-bottom: 0.3em;
    }
    .addNewCitySection {
        width: 100%;
        justify-content: space-between;
    }
    .addNewCityField {
        width: 80%;
    }
    .addNewCityButton {
        margin: 0;
    }
}



button {
    border: unset;
}